/bin
.git
skaffold.yaml
/docker
/charts
/examples
/docs
/lib/asset/*.pb.go
/lib/asset/json.go
/lib/service/mock_*.go
/lib/event/mock_*.go
/lib/persistence/mocks
/forwarder/event/mock_*.go
/server/standalone/migration/bindata.go
